<nav>
    <a routerLink="">Home</a>
    <a routerLink="packages" routerLinkActive="active-route">Packages</a>
    <a routerLink="categories" routerLinkActive="active-route">Categories</a>
    <a routerLink="gifts" routerLinkActive="active-route">Gifts</a>
    <a routerLink="donors" routerLinkActive="active-route">Donors</a>
    <a routerLink="login" routerLinkActive="active-route">Login</a>
    <a routerLink="register" routerLinkActive="active-route">Register</a>
    <a routerLink="logout" routerLinkActive="active-route">Logout</a>
</nav>
<app-busket></app-busket>
<router-outlet/>

